<div id="background">
</div>
<div id="menu">
	<%= image_tag("cl-logo.png", alt: "Los Copetes Locos", id: "logo") %>
	<ul>
		<li class="op-menu">Inicio</li>
		<li class="op-menu">Biografía</li>
		<li class="op-menu">Integrantes</li>
		<li class="op-menu">Material</li>
		<li class="op-menu">Galería</li>
		<li class="op-menu">Contacto</li>
	</ul>
</div>

<div id="content">
</div>
