@font-face {
  font-family: "UndergroundNF";
  src: asset-url('UndergroundNF.ttf') format("truetype");
}

@font-face {
	font-family: "MetroRetroNF";
	src: asset-url('MetroRetroNF.ttf') format("truetype");
}

@font-face {
	font-family: "BoyzRGrossNF";
	src: asset-url('BoyzRGrossNF.ttf') format("truetype");
}

@font-face {
	font-family: "BoyzRGrossShadowNF";
	src: asset-url('BoyzRGrossShadowNF.ttf') format("truetype");
}

@font-face {
	font-family: "AirstreamNF";
	src: asset-url('AirstreamNF.ttf') format("truetype");
}

@font-face {
	font-family: "VeteranTypewriter";
	src: asset-url('veteran-typewriter.regular.ttf');
}

@font-face {
	font-family: "IronickNF";
	src: asset-url('IronickNF.ttf') format("truetype");
}

@font-face {
	font-family: "Trykker";
	src: asset-url('Trykker-Regular.ttf');
}


@font-face {
	font-family: "ParkLaneNF";
	src: asset-url('ParkLaneNF.ttf') format("truetype");
}
