@font-face {
  font-family: "UndergroundNF";
  src: asset-url('UndergroundNF.ttf') format("truetype");
}

@font-face {
	font-family: "MetroRetroNF";
	src: asset-url('MetroRetroNF.ttf') format("truetype");
}

@font-face {
	font-family: "BoyzRGrossNF";
	src: asset-url('BoyzRGrossNF.ttf') format("truetype");
}

@font-face {
	font-family: "AirstreamNF";
	src: asset-url('AirstreamNF.ttf') format("truetype");
}

@font-face {
	font-family: "IronickNF";
	src: asset-url('IronickNF.ttf') format("truetype");
}

@font-face {
	font-family: "ParkLaneNF";
	src: asset-url('ParkLaneNF.ttf') format("truetype");
}
