@font-face {
  font-family: "UndergroundNF";
  src: asset-url('/fonts/UndergroundNF.ttf') format("truetype");
}

#background{
	width: 100%;
	height: 100%;
	-webkit-filter: sepia(100%) opacity(50%) saturate(120%) blur(1px);
	filter: sepia(100%) opacity(50%) saturate(120%) blur(1px);
	background-image: image-url("cl.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
}
body{
	margin: 0;
}

#menu{
	height: 100%;
	position: fixed;
	background-color: transparent;
	width: 550px;
	z-index: 2;
	text-align: center;
}

#logo{
	width: 45%;
	margin-top: 60px;
}

#content{
	min-height: 100%;
	position: fixed;
	background-color: transparent;
	width: -webkit-calc(100% - 550px);
	width: -moz-calc(100% - 550px);
	width: calc(100% - 550px);
	z-index: 2;
	left: 550px;
}
